<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Kelly Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'blogapp/mint.css' %}">
    <link rel="stylesheet" href="{% static 'blogapp/custom.min.css' %}">
    <script src="https://kit.fontawesome.com/c13233cb25.js" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'basecamp/navbar.html' %}

    <div class="container">
      <!-- Blog Entries Column -->
      <div class="col-md-8" id="main_div">
          {% block content %}
          {% endblock %}
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" id="search_input" onkeyup="wait_for_enterkey();" class="form-control" placeholder="Search for...">
              <span class="input-group-append">
                <button class="btn btn-info" type="button" onclick="search_post();">Go!</button>
              </span>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4" id="category-card">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  {% for category in category_list %}
                  <li>
                    <a href="{{ category.get_absolute_url }}">{{ category.name }} ({{ category.post_set.count }})</a>
                  </li>
                  {% endfor %}
                  <li>
                    <a href="/blog/category/_none/">Uncategorized({{ posts_without_category }})</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>


    <script>
        function search_post() {
            var search_value = document.getElementById('search_input').value;
            location.href="/blog/search/"+ search_value +"/";
        }

        function wait_for_enterkey() {
            if(window.event.keyCode == 13){
                search_post();
            }
        }
    </script>
    <script src="{% static 'blogapp/jquery.min.js' %}"></script>
    <script src="{% static 'blogapp/bundle.min.js' %}"></script>
    <script src="{% static 'blogapp/custom.js' %}"></script>
</body>
</html>